<form id="interface" name="form1" method="post" action="/add_inter_face/">
    <div class="rightbar">
        <div class="top">
            <span>管理平台 &gt;</span>
            <span id="current_pro_name">{{ current_name }}</span>
            <input type="hidden" name="current_name" value="{{ current_name }}" required="required">
            {% if case_obj %}
                <span id="do_text">&gt修改接口用例</span>
            {% else %}
                <span id="do_text">&gt新增接口用例</span>
            {% endif %}
            <input type="hidden" id="bool_action" name="get_id" value="{{ get_id }}">
        </div>

        <div style="margin-top: 10px">
            <span>用例名称:</span>
            <input type="text" id="interface_name" name="interface_name" placeholder="请输入用例名称"
                   value="{{ case_obj.caseName }}" style="width: 500px;height: 20px">
            {% if case_obj %}
                <span>用例ID: {{ case_obj.id }}</span>
            {% endif %}
        </div>

        <div style="margin-top: 20px">
            <input type="hidden" name="template_id" id="template_id">

            {% if case_obj %}
                <input type="hidden" id="btn_type" name="action" value="修改用例">
            {% else %}
                <input type="hidden" id="btn_type" name="action" value="保存用例">
            {% endif %}
            <div >
                <span>用例状态:</span>
                <select name="status" style="width: 100px;height: 30px">
                    {% if case_obj %}
                    <option value="{{ case_obj.status }}">{{ case_obj.status }}</option>
                    {% endif %}
                    {% if copycase_obj %}
                    <option value="{{ copycase_obj.status }}">{{ copycase_obj.status }}</option>
                    {% endif %}
                    <option value="有效">有效</option>
                    <option value="无效">无效</option>
                </select>
                <span>用例性质:</span>
                <select name="nature" style="width: 100px;height: 30px">
                    {% if case_obj %}
                    <option value="{{ case_obj.nature }}">{{ case_obj.nature }}</option>
                    {% endif %}
                    {% if copycase_obj %}
                    <option value="{{ copycase_obj.nature }}">{{ copycase_obj.nature }}</option>
                    {% endif %}
                    <option value="正案例">正案例</option>
                    <option value="反案例">反案例</option>
                </select>
            </div>

            <div ><br><a class="a_btn" id="save_interface">保存</a></div>
        </div>
        <div id="table_div">
            {#  判断是否有模板ID，如果有载入的是修改页面，显示下列代码  #}
            {% if get_id %}
                <div style="margin-top: 10px">
                    <table class="list01 list02 tempTable">
                        <tr class="thead">
                            <th>参数名称</th>
                            <th>组件名称</th>
                            <th>字段名称</th>
                            <th>子字段名称</th>
                            <th>输入值</th>
                        </tr>
                        <tbody id="inter_content">
                        {% for i in conten_dict %}
                            <tr>
                                <td>
                                    <input type="text" name="content_objName" value="{{ i.objName }}" readonly="readonly">
                                </td>

                                <td>
                                    <input type="text" value="{{ i.part }}" readonly="readonly">
                                </td>

                                <td>
                                    <input type="text" value="{{ i.list }}" readonly="readonly">
                                </td>

                                <td>
                                    <input type="text" value="{{ i.key }}" readonly="readonly">
                                </td>

                                <td>
                                    <input type="text" name="val" value="{{ i.value }}">
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                    <hr style="margin-top: 10px">
                </div>
                <div style="margin-top: 20px">
                    <table class="list01 list02 tempTable" style="margin-top: 10px">
                        <tr class="thead">
                            <th>参数名称</th>
                            <th>字段名称</th>
                            <th>比对方式</th>
                            <th>期望值</th>
                            <th>SQL语句</th>
                            <th>操作</th>
                        </tr>
                        <tbody id="inter_assert">
                        {% for i in diff_obj %}
                            <tr>
                                <td>
                                    <input type="text" name="assert_objName" value="{{ i.objId }}" readonly="readonly">
                                </td>

                                <td>
                                    <input type="text" value="{{ i.field_name }}" name="field_name" readonly="readonly">
                                </td>

                                <td>
                                    <select class="assert_method" name="assert_method">
                                        <option value="{{ i.diffType }}">{{ i.diffType }}</option>
                                        <option></option>
                                        <option value="返回值与数据库对比">返回值与数据库对比</option>
                                        <option value="期望值与返回值对比">期望值与返回值对比</option>
                                        <option value="期望值与数据库对比">期望值与数据库对比</option>
                                        <option value="脚本高级断言对比">脚本高级断言对比</option>
                                    </select>
                                </td>
                                <td>
                                    <input type="text" name="expected_val" value="{{ i.value }}">
                                </td>
                                <td>
                                    <input type="text" name="sql_str" value="{{ i.ex }}">
                                </td>
                                <td id="operation">
                                    <input type="button" class="add_diff" name="{{ i.id }}" title="增加断言">
                                    <input type="button" class="add_timeout" name="{{ i.id }}" title="增加延时">
                                    <input type="button" class="delete_diff" name="{{ i.id }}" title="删除断言">
                                </td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        </div>
    </div>
</form>

<div id="mask" class="mask"></div>
<div class="dialog test_cases" id="use_template" style="height: 700px;width: 1200px;">
    <div class="test_list mb_20">
     <h3 align="center">导入模板</h3>
        <div align="right">
            <a class="a_btn" id="close_div" href="#">取消</a>
        </div>
        <div style="max-height: 600px;overflow-y: scroll">
            <table id="example_temp" class="row-border hover order-column" cellspacing="0" width="100%">
                <thead>
                <tr class="thead">
                    <th width="20">ID</th>
                    <th>模板名称</th>
                    <th width="50">操作</th>
                </tr>
                </thead>
                <tfoot>
                <tr class="thead">
                    <th width="20">ID</th>
                    <th width="500">模板名称</th>
                    <th width="20">操作</th>
                </tr>
                </tfoot>
                <tbody>
                {% for i in template_list %}
                <tr>
                    <td>
                        <a>{{ i.id }}</a>
                    </td>
                    <td align="center">
                        <a>{{ i.tempName }}</a>
                    </td>
                    <td>
                        <input id="imp_btn" type="button" name="{{ i.id }}" title="应用模板">
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


{% load staticfiles %}
<script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>

<script>
    $(function(){
        $("#example_temp").dataTable();
        $("#example_api_case").dataTable();
    })
</script>