<tr id="atr">
    <td>
        <input type="checkbox" class="checkbox">
    </td>
    <td>
        <input type="text" id="objName" name="objName">
    </td>
    <td >
        <select id='key1' name='key1' class='opt' >
            <option>datagramHeader</option>
            <option>datagramBody</option>
            <option>messageCode</option>
            <option>targetSystemCode</option>
        </select>
    </td>
    <td>
        <input type="text" id="key2" name="key2">
    </td>
    <td>
        <input type="text" id="key3" name="key3">
    </td>
    <td>
        <select id='type' name='type' class='opt' >
                <option>all</option>
                <option>send</option>
                <option>receive</option>
        </select>
    </td>
</tr>

<script>
</script>