
<div class="rightbar" style="width: 100%">
    <div class="top"> 管理平台 &gt; <span>{{ pro_name }}</span> <span>&gt;维护业务流用例</span></div>
    <div class="btnlist re_position" >
            <a class="a_btn" id="add_api_bus">新增业务流</a>
    </div>
    <div class="tablelist" style="max-height: 830px;overflow-y: scroll;">
        <table id="example" class="display list01 list02 tb" cellspacing="0" width="100%" >
            <thead class="thead">
                <tr>
                    <th width="45"></th>
                    <th>用例名称</th>
                    <th>创建时间</th>
                    <th>修改时间</th>
                    <th>操作</th>
                </tr>
            </thead>

            <tfoot>
                <tr>
                    <th width="45"></th>
                    <th>用例名称</th>
                    <th>创建时间</th>
                    <th>修改时间</th>
                    <th>操作</th>
                </tr>
            </tfoot>

            <tbody>
                {% for i in api_list %}
                <tr>
                    <td>
                        <input type="checkbox" class="checkbox">
                    </td>
                    <td>
                        <a>{{ i.name }}</a>
                    </td>
                    <td>
                        <a>{{ i.create_date }}</a>
                    </td>
                    <td>
                        <a>{{ i.edit_date }}</a>
                    </td>
                    <td align="center" id="operation">
                        <input class="dbg_api" type="button" name="{{ i.id }}" title="调试">
                        <input class="edit_case" type="button" name="{{ i.id }}" title="编辑">
                        <input class="inbu_copy" type="button" name="{{ i.id }}" title="复制">
                        <input class="del_btn" type="button" name="{{ i.id }}" title="删除">
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>



{% load staticfiles %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.dataTables.min.js"></script>


<script>
    //使用DataTable
    $(document).ready(function() {
    $('#example').dataTable();
    })
</script>

