<tr>
    <td style="display:none">
        <input type="checkbox" class="checkbox_step" name="checkbox">
    </td>
    <td>1</td>
    <td>
        <input type="text" name="desc" style="width:80%">
    </td>
    <td align="center">
        <select name="fun" style="width: 80%;font-size: 10px" class="select">
            <option></option>
            <option value="单击">单击</option>
            <option value="输入">输入</option>
            <option value="标准断言">标准断言</option>
            <option></option>
            <option style="font-size: 10px">请选择</option>
        </select>
    </td>
    <td>
        <input type="text" name="value" style="width:80%">
    </td>
    <td>
        <input type="hidden" class="ele_id" name="ele_id" value="">
        <a href="#" class="ele_name" style="color: red">添加元素</a>
    </td>
    <td align="center" id="operation2">
        <input id="addstep" type="button"  title="新增步骤">
        <input class="delstep" type="button"  title="删除步骤">
    </td>
</tr>




